.counter {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 16.5px 0 0; /* Adjusted padding */
    margin: 0 7.5px; /* Adjusted margin */
    position: fixed !important; /* Position fixed to keep it at a specific location */
    bottom: 20px !important; /* Adjusted positioning to bottom */
    right: 20px !important; /* Adjusted positioning to right */
    z-index: 9999 !important; /* Set a high z-index to ensure it appears above other content */
}

.counter:before {
    content: "";
    border: 1.5px solid #575757; /* Adjusted border thickness */
    border-radius: 7.5px; /* Adjusted border radius */
    position: absolute;
    top: 7.5px; /* Adjusted positioning */
    left: 7.5px; /* Adjusted positioning */
    right: 7.5px; /* Adjusted positioning */
    bottom: 7.5px; /* Adjusted positioning */
    z-index: 1;
}

.counter .counter-icon {
    color: #00A69C;
    font-size: 22.5px; /* Adjusted font size */
    margin: 0 0 10.125px; /* Adjusted margin */
}

.counter .counter-content {
    background-color: rgba(0,166,156,0.9);
    padding: 11.8125px 8.4375px 9px; /* Adjusted padding */
    border-radius: 0 0 5.625px 5.625px; /* Adjusted border radius */
    position: relative;
}

.counter .counter-content:before {
    content: '';
    background-color: #00A69C;
    width: 11.25px; /* Adjusted width */
    height: 11.25px; /* Adjusted height */
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: -5.625px; /* Adjusted positioning */
}

.counter h3 {
    font-size: 9px; /* Adjusted font size */
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 4.5px; /* Adjusted margin */
    color: white; /* Set the text color to white */
}

.counter .counter-value {
    font-size: 13.5px; /* Adjusted font size */
    font-weight: 500;
}

/* Adjustments for specific counter colors */
.counter.red .counter-icon { color: #E44C4B; }
.counter.red .counter-content,
.counter.red .counter-content:before { background-color: rgba(228,76,75,0.9); }

.counter.blue .counter-icon { color: #027981; }
.counter.blue .counter-content,
.counter.blue .counter-content:before { background-color: rgba(2,121,129,0.9); }

.counter.purple .counter-icon { color: #3E6491; }
.counter.purple .counter-content,
.counter.purple .counter-content:before { background-color: rgba(62,100,145,0.9); }
